name: CI
on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [main, develop]

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Uses Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Configure test reporter
        uses: amancevice/setup-code-climate@v0
        with:
          cc_test_reporter_id: ${{ secrets.CC_TEST_REPORTER_ID }}
      - run: cc-test-reporter before-build
      - run: yarn install
      - run: yarn build
      - run: yarn test
      - run: cc-test-reporter after-build
    env:
      CI: true
      TOKEN_SECRET: ${{ secrets.TOKEN_SECRET }}
      TOKEN_EXPIRE: ${{ secrets.TOKEN_EXPIRE}}
      REFRESH_SECRET: ${{ secrets.REFRESH_SECRET }}
      REFRESH_EXPIRE: ${{ secrets.REFRESH_EXPIRE }}
      DB_CONNECT: ${{ secrets.DB_CONNECT }}
      DEV_DB: ${{ secrets.DEV_DB }}
      TEST_DB: ${{ secrets.TEST_DB }}
      REDIS_DB: ${{ secrets.REDIS_DB }}
      FB_CLIENT_ID: ${{secrets.FB_CLIENT_ID}}
      FB_CLIENT_SECRETE: ${{secrets.FB_CLIENT_SECRETE}}
      GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
      GOOGLE_CLIENT_SEC: ${{secrets.GOOGLE_CLIENT_SEC}}
